/* ==========================================================================
  Utilities - These things get used a lot
  ========================================================================== */
/* Clears shit */
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* Hides shit */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}
/* Centres vertically yo. (IE8+) */
.vertical {
  display: table-cell;
  vertical-align: middle;
}
