<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{% block head_title %}{{site.title}}{% endblock %}</title>
  <meta name="description" content="{{site.description}}">
  <meta name="keywords" content="javascript, frontend, code, tutorial, review, technology, writing, blog, personal, music" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="text/javascript">var _sf_startpt=(new Date()).getTime();</script>
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

  <!-- <link rel="alternate" type="application/rss+xml" title="Jame Morgan" href="http://feeds.feedburner.com/jmsmrgn/####" /> -->
  <link rel="canonical" href="{{file.url | absolute_url(site.url) if file.url else pagination.url | absolute_url(site.url)}}" />
  {% if pagination.next %}
  <link rel="next" href="{{pagination.next_link | absolute_url(site.url)}}" />
  {% endif %}
</head>
<body class="{% block body_class %}{% endblock %}">
  <div class="site-container">
    <header class="main-header {% if pagination.metadata %}tag-head{% endif %}">
      <div class="stars">
        <div class="layer layer1"></div>
        <div class="layer layer2"></div>
        <div class="layer layer3"></div>
        <div class="layer layer4"></div>
        <div class="layer layer5"></div>
      </div>
      <div class="stars wide">
        <div class="layer layer1"></div>
        <div class="layer layer2"></div>
        <div class="layer layer3"></div>
      </div>
      <div class="main-header-content">
        <a class="main-header-logo" href="/">
          <img src="/images/profile.jpg" alt="Blog Logo" />
        </a>
        <div class="main-header-description">
          <a class="page-title" href="/">
            <h1 class="page-title">James Morgan</h1>
          </a>
          <h2 class="page-description">Frontend Tradecraft</h2>
          <div class="main-nav">
            <a href="/about/">About</a>
            <a href="/archive/">Archive</a>
            <!-- <a class="subscribe-button icon-feed" href="http://feeds.feedburner.com/jmsmrgn/####">Subscribe</a> -->
          </div>
          <div class="social-networks">
            <a href="https://github.com/jmsmrgn" title="GitHub">
              <img src="/images/external-networks/github.svg" alt="GitHub">
            </a>
            <a href="https://codepen.io/jmsmrgn/" title="Codepen">
              <img src="/images/external-networks/codepen.svg" alt="Codepen">
            </a>
            <a href="https://twitter.com/jmsmrgn" title="Twitter">
              <img src="/images/external-networks/twitter.svg" alt="Twitter">
            </a>
            <a href="http://www.linkedin.com/in/jmsmrgn" title="LinkedIn">
              <img src="/images/external-networks/linkedin.svg" alt="LinkedIn">
            </a>
            <a href="mailto:james@jamesmorgan.io" title="Email">
              <img src="/images/external-networks/email.svg" alt="Email">
            </a>
          </div>
        </div>
      </div>
    </header>

    <main class="content" role="main">
      {% block content_header %}{% endblock%}

      {% if pagination.page > 1 %}
        <div class="extra-pagination inner">
          {% include "_pagination.html" %}
        </div>
      {% endif %}

      {% block content %}{% endblock%}

      {% include "_pagination.html" %}
    </main>

    <footer class="site-footer clearfix">
      <section class="copyright"><a href="https://jmsmrgn.com/">James Morgan</a> &copy; 2017</section>
      <section class="poweredby">
        published with <a href="http://reptar.github.io/">Reptar</a>
      </section>
    </footer>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
